		* {
			margin: 0;
			border: 0;
			padding: 0;
		}

		#top1 {
			width: 100%;
			height: 30px;
			background-color: #545652;
		}

		#top1 ul li {
			list-style: none;
			float: left;
			padding: 0 0 0 20px;
			line-height: 30px;
			font-size: 15px;
		}

		#top1 ul li a:link,
		#top1 ul li a:visited,
		#top1 ul li a:hover,
		#top1 ul li a:active {
			text-decoration: none;
			color: #d5d5d5;
		}

		#top2 {
			width: 100%;
			height: 50px;
			background-color: #edf4ed;
			color: #2e963d;
			font-family: 微软雅黑;
			font-size: 25px;
			line-height: 50px;
			text-indent: 10%;
		}

		h1 {
			margin:50px 0 0 120px;
		}

		#out {
			width: 100%;
			padding: 0 auto;
		}

		.content {
			float: left;
			/*position: relative;*/
		}
		
		.kuang {
			float: left;
			margin: 10px 0 0 0;
		}

		#kuang1 {
			margin-left: 100px;
		}

		.kuang ul li {
			width: 200px;
			height: 150px;
			margin: 20px;
			list-style: none;
			/*border-style: solid;
			border-width: 1px;
			border-color: #e2e2e2;*/
			/*padding: 20px;*/
		}

		.kuang ul li a {
			display: block;
			width: 158px;
			height: 108px;
			padding: 20px;
			
		}

		.kuang ul li a:link,
		.kuang ul li a:visited {
			text-decoration: none;
			border: solid 1px #e2e2e2;
			color: #3377aa;
		}
		
		.kuang ul li a:hover,
		.kuang ul li a:active {
			text-decoration: none;
			border: solid 1px #3377aa;
		}

		span {
			display: block;
			text-align: center;
		}

		.l1 {
			font-size: 15px;
			color: #3377aa;
		}

		.l2 {

		}

		.l3 {
			display: inline-block;
			text-align: center;
			border: solid 1px #3ba94d;
			margin: 45px 40px;
    		font-size: 13px;
    		line-height: 1;
    		color: #3ba94d;
    		border-radius: 2px;
    		padding: 5px 12px;
		}
		
		#one {
			width: 60%;
		}

		#two {
			width: 40%;
		}

		#two a:link,
		#two a:visited,
		#two a:hover,
		#two a:active {
			color: #3377aa;
			text-decoration: none;
		}