/*通配选择*/
* {
	margin: 0;
	border: 0;
	padding: 0;	
}

ul {
	list-style: none;
}

a{
	text-decoration: none;
}

/*banner*/
#banner {
	width: 100%;
	height: 100px;
	background-color: #edf4ed;
	color: #2e963d;
	font-family: 微软雅黑;
	font-size: 25px;
	line-height: 100px;
}

/*每个实验报告框的具体样式*/
#main li{
	float: left;
}

#main li a {
	display: block;
	width: 158px;
	height: 108px;
	padding: 20px;
}

#main a:link,
#main a:visited {
	text-decoration: none;
	border: solid 1px #e2e2e2;
	color: #3377aa;
}

#main a:hover,
#main a:active {
	text-decoration: none;
	border: solid 1px #3377aa;
}

#main span{
	display: block;
	text-align: center;
}

.r1{
	margin-top: 10px;
	font-size: 15px;
	color: #3377aa;
}

.r2{
	text-align: center;
	border: solid 1px #3ba94d;
	margin: 30px 40px 26px 40px;
	font-size: 13px;
	line-height: 1;
	color: #3ba94d;
	border-radius: 2px;
	padding: 5px 12px;
}

/*右侧内容超链接*/
#two a:link,
#two a:visited,
#two a:hover,
#two a:active {
	color: #3377aa;
	text-decoration: none;
}

@media (min-width:1025px) {
	/*内容部分总体布局*/
	#content {
		width: 100%;
		padding: 0 auto;
	}

	#one {
		width: 60%;
	}

	#two {
		width: 40%;
	}

	.content {
		float: left;
	}

	#main li {
		width: 30%;
		height: 40%;
		margin-left: 3%;
		margin-top: 2%;
	}
	/*下面这两属性为了不使右边的超链接和左侧内容重叠*/
	#two {
		margin-top: 20px;
	}

	#two a {
		margin-left: 20px;
	}
}

@media (max-width: 1024px) and (min-width:401px) {
	#one {
		width: 100%;
		height: 500px;
	}

	#main li {
		width: 45%;
		height: 40%;
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 2%;
	}

	#two {
		margin-top: 30px;
		margin-left: 2%;
		clear: both;
		float: top;
	}

	#two a{
		display: block;
		width: 108px;
		height: 61px;
		line-height: 61px;
		text-align: center;
		margin: 5px;
		background-color: #edf4ed;
		color: #2e963d;
	}
	#two a:link,
	#two a:visited,
	#two a:hover,
	#two a:active {
		color: #2e963d;
		text-decoration: none;
	}
}

@media (max-width: 400px) {
	#main li {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 2%;
	}

	#two {
			margin-top: 75px;
			margin-left: 2%;
			clear: both;
	}

	#two a{
		display: block;
		width: 108px;
		height: 61px;
		line-height: 61px;
		text-align: center;
		margin: 15px;
		background-color: #edf4ed;
		color: #2e963d;
	}

	#two a:link,
	#two a:visited,
	#two a:hover,
	#two a:active {
		color: #2e963d;
		text-decoration: none;
	}
}
